@import "tailwindcss";

@font-face {
  font-family: NanumSquareL;
  src: url('/fonts/NanumSquareL.woff2') format('woff2');
  font-weight: 300;
}
@font-face {
  font-family: NanumSquareR;
  src: url('/fonts/NanumSquareR.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: NanumSquareB;
  src: url('/fonts/NanumSquareB.woff2') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: NanumSquareEB;
  src: url('/fonts/NanumSquareEB.woff2') format('woff2');
  font-weight: 800;
}

* {
  font-family: 'NanumSquareR', 'Nanum Gothic', sans-serif;
}

body {
  background-color: #f8fafc;
  -ms-overflow-style: none;
}

::-webkit-scrollbar { display: none; }

.font-black { font-family: 'NanumSquareEB', sans-serif !important; }
.font-bold  { font-family: 'NanumSquareB',  sans-serif !important; }
.font-light { font-family: 'NanumSquareL',  sans-serif !important; }
